@* Header.razor *@
<nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-primary shadow">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">🌐 Sonadezi Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="mainNavbar">
            <ul class="navbar-nav mb-lg-0 mb-2 me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="bi bi-house-door-fill"></i> Trang chủ
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/products">
                        <i class="bi bi-box-seam"></i> Sản phẩm
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/contact">
                        <i class="bi bi-envelope-fill"></i> Liên hệ
                    </NavLink>
                </li>
                @*
                <li class="nav-item">
                    <NavLink class="nav-link" href="/news">
                        <i class="bi bi-newspaper"></i> Tin tức
                    </NavLink>
                </li>
                *@
            </ul>

            <div class="d-flex">
                <NavLink class="btn btn-light rounded-pill px-3" href="/login">
                    <i class="bi bi-box-arrow-in-right"></i> Đăng nhập
                </NavLink>
            </div>
        </div>
    </div>
</nav>

@code {

}
