<div class="top-row navbar navbar-dark ps-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TH App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-fill"></i> Trang chủ
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/products">
                        <i class="bi bi-bag-dash"></i>  Sản phẩm
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/categories">
                        <i class="bi bi-bookmark"></i> Danh mục
                    </NavLink>
                </div>
                @*
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/warehouse">
                        <i class="bi bi-archive"></i>   Quản lý kho
                    </NavLink>
                </div>
                *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/orders">
                        <i class="bi bi-basket2-fill"></i>   Đơn hàng
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <RadzenIcon Icon="input" /> Đăng xuất
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Đăng nhập
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

